<div class="container">
    <div class="bg-blue-100 py-2">
        <h1 class="text-center text-4xl bold text-blue-700">Waiter Schedule</h1>
    </div>

    <div>
        <p class="mt-6">Days when waiters are available</p>
    </div>

    <div class="days mt-6 text-center">
        <form action="/waiters" method="post">
            <div>
                <label for="name">Enter name:<input type="text" value="" class="bg-neutral-300" name="username"></label>
                <button type="submit">Enter</button>
            </div>
        </form>
    {{#each days}}
        <div class="daysofweek">
            <span>{{@key}}</span> <!-- Access the day of the week -->
            <ul>
                {{#each this}} <!-- Access the array of waiters for this day -->
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
</div>
        {{!-- <table>
            <thead>
                <tr>
                    <th>Day of the Week</th>
                    <th>Waiters</th>
                </tr>
            </thead>
            <tbody>
                {{#each days}}
                <tr class="">
                    <td class="daysofweek mt-2">{{this}}</td>
                    <td>
                        <ul>
                            {{#each ../names}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table> --}}
    </div>
</div>